data
*.lprof
*.vocab
*.model
test10k.tsv
*.zip
*.pickle
*.tsv
tsv
*.ennsw
*.ens
checkpoints
*.tar
*.gz
.data
.ipynb*
*.pt
*.dat
*.pkl
__pycache__
.idea
*.pyc
*.mat
loss_plot
lightning_logs
copyAbroad
T006_misc
dataS
*.xml
*.iml

